<div class="container">
    <div class="jumbotron" style="text-align: center">
        <h1>Burgers!</h1>
    </div>
    <div class="row">
        <div class="col-6">
            <h2>Burgers to be Devoured</h2>
            <ul>
                {{#each burgers}}
                {{#unless eaten}}
                <p>
                    {{this.id}}.{{this.burger_name}}
                    {{!-- <button class = "devour" data-id="{{id}}" data-neweaten="{{eaten}}">{{#if eaten}}Re-Order!{{else}}Devour!{{/if}}</button> --}}
                    {{> burger-block eaten=true}}
                </p>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-6">
            <h2>Devoured Burgers</h2>
            <ul>
                {{#each burgers}}
                {{#if eaten}}
                <p>
                    {{this.id}}.{{this.burger_name}}
                    {{!-- <button class = "devour" data-id="{{id}}" data-neweaten="{{eaten}}">{{#if eaten}}Re-Order!{{else}}Devour!{{/if}}</button> --}}
                    {{> burger-block eaten=false}}
                </p>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2>Add a Burger</h2>
        </div>
        <div class="col-12">
            <form class="create-form">
                <div class="form-group">
                    <label for="addBurger">Burger Name </label>
                    <input type="text" id="addBurger" name="name">
                </div>
                <button id="test" type="submit">Add Burger</button>
            </form>
        </div>
    </div>
</div>

<script>

    $("#test").on("click", function (event) {
        // Make sure to preventDefault on a submit event.
        event.preventDefault();

        var newBurger = {
            burger_name: $("#addBurger").val().trim(),

        };

        console.log(newBurger)
        $.post("/api/burgers/", newBurger).then(function (data) {
            console.log("New Burger Added");

        })
        location.reload()
    });
</script>